[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "WordOfMouth"]
	path = WordOfMouth
	url = https://github.com/cran/WordOfMouth
[submodule "clickstream"]
	path = clickstream
	url = https://github.com/cran/clickstream
[submodule "hypercube"]
	path = hypercube
	url = https://github.com/cran/hypercube
[submodule "orderanalyzer"]
	path = orderanalyzer
	url = https://github.com/cran/orderanalyzer
